# Supabase — obtidas em https://supabase.com/dashboard > Project Settings > API
EXPO_PUBLIC_SUPABASE_URL=https://faryowbibtszfnwawecs.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_CEcjOY6dmpf6ZS7pxJCeLQ_Rbn296xi
